<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>Here are the details of your purchase:</p>
    <% # Find the line items where their order id matches @order_id %>
    <% # Loop through each line item and assign key value pairs %>
    <% @lineItems = @order.line_items.each do |line_item| %>
      <%= render 'line_item', quantity: line_item.quantity, product: Product.find(line_item.product_id) %>
    <% end %>
    <p><strong>Order Total: <%= @order.total_cents / 100.00 %></strong></p>
    <p>Your Email: <%= @order.email %></p>
  </div>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
